.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: rgb(251, 194, 82);
    color: rgb(10, 10, 10);
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #000000;
    color: #FBC252;
}



.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
  }

  .navbar-light .navbar-nav .nav-link:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: rgb(4, 4, 4);
    transform: scaleX(0);
    transform-origin: left;
    transition:.3s linear;
}

.navbar-light .navbar-nav .nav-link:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding-inline: 30px;
  }

@keyframes show-toast{
    0% {bottom: -100%}
    20% {bottom: 100px}
    80% {bottom: 100px}
    100% {bottom: -100%}
}

.show-notification{
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 8s;
    z-index: 99;
}

.social-links{
    width: 225px !important;
}

/* .booking .profile{
    width: 800px !important;
} */

/* .city .s-table{
    text-align: center;
    width: 900px;
} */

/* .s-tr{
    background-color: #ffffff;
}

.main-body{
    padding-left: auto;
    padding-right: auto;
  }

 .s-td{
    text-align: center;
 } */

 .s-head{
    background-color: #FBC252;
    width: 900px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px ;
    border-bottom-left-radius : 0px;
    border-bottom-right-radius : 0px;
    margin-bottom: 0px;

 }

 hr{
    margin: 0;
 }

.s-h3{
    background-color: #fcfcfc;
    width: 900px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px ;
    border-bottom-left-radius : 0px;
    border-bottom-right-radius : 0px;
    margin-bottom: 0px;
} 

.s-row{
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;

}

.btn-color{
    color: #000000;
    background-color: #FBC252;
}
.btn-color:hover{
    color: #FBC252;
    background-color: #000000;
}

.s-border{
    border-bottom-left-radius : 4px;
    border-bottom-right-radius : 4px;
}

.our-team {
    margin-bottom: 30px;
    background-color: white;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 348px;
    width: 230px;
}

.check-btn{
    background-color: #FBC252;
    color: #000;
}
.check-btn:hover{
    background-color: #000;
    color: #FBC252;
}

.p-con{
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
    width: 1200px;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #FBC252;
    border-color: #FBC252;
}
.page-item.active .page-link:hover {
    z-index: 3;
    color: hwb(0 100% 0%);
    background-color: #FBC252;
    border-color: #FBC252;
}


.pagination {
    float: left;
}

.od{
    margin : auto;
    margin-top: 60px;
    background-color: #fff;
    padding: 50px;
}

.od-col-p{
    position: relative;
}
.box--6 {
    left: 955px;
    top: -14px;
    position: absolute;
    width: 165px;
    height: 180px;
    background: #FFF;
    background-clip: padding-box;
    
}
.r-card{
    height: 320px;
    width: 210px;
}

#rate-1,#rate-2,#rate-3,#rate-4,#rate-5{
    display: none;

}
.star-e{
    font-size: 30px;
}

.size{
    width: 915px;
    /* height: 750px; */
    background-color: white;
}

#loader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #loader img {
    width: 50px;
    height: 50px;
  }
  
.hr-services{
    margin-left: 10%;
    margin-right: 10%;
}

.box-services{
    height: 200px !important
}