{% extends 'base.html' %}

{% load static %}



{% block content %}

{% include 'includes/alerts.html' %}

<div class="wrapper dot bubble">
    <div class="logo">
        <img src="{% static 'img/mini logo.png' %}" alt="">
    </div>
    <div class="text-center mt-4 name">
        Work Factory
    </div>
    <form class="p-3 mt-3" action="{% url 'reset_password' %}" method="post">
    {% csrf_token %}
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="confirm_password" placeholder="Confirm Password">
            </div>
            <button class="btn mt-3">Rest Password</button>
        </form>

</div>

{% endblock %}