{% extends 'base.html' %}

{% load static %}


{% block content %}
{% include 'includes/alerts.html' %}

<div class="container" style="margin-bottom :310px">
    <div class="booking" style="width: 935px;">
        <div class="profile">
            <div class="main-body p-0">


                <div id="Reviews" class="w3-container w3-border city" >
                    <ul class="cards" id="cards">
                        {% if reviews %}
                        {% for review in reviews %}
                        <li>
                            <a href="{% url 'review_detail_s' review.pk %}" class="card reviewcards r-card">
                                
                                <img src="{{review.order.img.service_img.url}}" class="card__image" alt="{{review.order.service}}" />
                                <div class="card__overlay">
                                    <div class="card__header" style="padding-bottom: 6px;">
                                        {% if review.user_profile.profile_picture %}
                                        <img src="{{review.user_profile.profile_picture.url}}" alt="Customer Pic" class="card__thumb"">
                                        {% else %}
                                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Customer Pic" class="card__thumb"">
                                        {% endif %}
                                        <!-- <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="Serviceman Pic" /> -->
                                        <div class="card__header-text">
                                            <h3 class="card__title">{{review.user.full_name}}</h3>
                                        </div>
                                        
                                    </div>
                                    <div  style="padding-left: 40px;">
                                    {% if review.star == 1 %}
                                        <i class="fa-solid fa-star" style="color:#fbc225;"></i>
                                    </div>
                                    {% elif review.star == 2 %}
                                        <i class="fa-solid fa-star" style="color:#fbc225;"></i>
                                        <i class="fa-solid fa-star" style="color:#fbc225;"></i>
                                    </div>
                                    {% elif review.star == 3 %}
                                        <i class="fa-solid fa-star" style="color:#fbc225;"></i>
                                        <i class="fa-solid fa-star" style="color:#fbc225;"></i>
                                        <i class="fa-solid fa-star" style="color:#fbc225;"></i>
                                    </div>
                                    {% elif review.star == 4 %}
                                        <i class="fa-solid fa-star" style="color:#fbc225;"></i>
                                        <i class="fa-solid fa-star" style="color:#fbc225;"></i>
                                        <i class="fa-solid fa-star" style="color:#fbc225;"></i>
                                        <i class="fa-solid fa-star" style="color:#fbc225;"></i>
                                    </div>
                                    {% elif review.star == 5 %}
                                        <i class="fa-solid fa-star" style="color:#fbc225;"></i>
                                        <i class="fa-solid fa-star" style="color:#fbc225;"></i>
                                        <i class="fa-solid fa-star" style="color:#fbc225;"></i>
                                        <i class="fa-solid fa-star" style="color:#fbc225;"></i>
                                        <i class="fa-solid fa-star" style="color:#fbc225;"></i>
                                    </div>
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                        {% else %}
                        <li>
                            <strong><h4 class="text-center"><b>You don't give any reviews for serviceman.</b></h4></strong>
                        </li>
                        {% endif %}
                    </ul>
                    <nav aria-label="...">
                        <ul class="pagination">
                            {% if reviews.has_previous %}
                            <li class="page-item ">
                                <a class="page-link" href="?page={{ reviews.previous_page_number }}">Previous</a>
                            </li>
                            {% endif %}

                            <li class="page-item active">
                                <a class="page-link" href="">Page {{ reviews.number }} of {{ reviews.paginator.num_pages}}<span class="sr-only"></span></a>
                            </li>

                            {% if reviews.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ reviews.next_page_number }}">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>


            </div>
        </div>
    </div>

    <!-- nav bar -->
    {% include 'includes/serviceman_nav.html' %}
</div>
{% endblock %}