{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row mt-4 mb-4 me-0" >
    <div class="col-5">
        <img title="Founder" src="{% static 'img/about.jpg' %}" height="600px" width="600px" alt="Founder">
    </div>

    <div class="col-1"></div>

    <div class="col-6" style="margin-top: 150px;">
        <span class="" style="font-size: xxx-large; font-weight: 550;">About Us
        </span>
        <hr>
        <div class="list-unstyled mt-3">
            <li class="ms-3 mt-2 mt-b2"> The main goal of our organization is to provide employment to unemployed servicemen.</li>
            <li class="ms-3 mt-2 mt-b2">Here we provide jobs for unemployed like Vehicle Repairing, plumbing,Vehicle Repairing,driving and more.</li>
            <li class="ms-3 mt-2 mt-b2"> We also work on UI/UX and functionality so that plugins come with proper structure and
                stunning look that suits our website and
                One that performs better and looks better.</li>
        </div>
    </div>
</div>


<!-- 
        <div class="row" >
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2 me-0 mp-0">
                    <div class="sec-title">
                        <h1> About us </h1>

                        <hr>

                        <h2 class="mt-3">We build the websites for serviceman</h2>
                        <br>
                    </div>
                    <div class="text" style="font-weight:lighter; font-size:large">
                        <li> The main goal of our team members is to provide employment to unemployed servicemen.</li>
                        <li>Here we provide jobs for unemployed like Vehical Repairing, plumbing,Vehical
                            Repairing,driving and more.</li>
                        <li> We also work on UI/UX and functionality so that plugins come with proper structure and
                            stunning look that suits our website and
                            One that performs better and looks better.</li>
                    </div>

                </div>
            </div>

            <!-- Image Column -->
<!-- <div class="image-column col-lg-6 col-md-12 col-sm-12" style="overflow: hidden;">
                <div class="inner-column">>
                <div class="inner-column wow fadeInLeft">
                    <div class="author-desc">
                    </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img
                                title="Rahul Kumar Yadav" src="{% static 'img/about.jpg' %}" height="600px" width="600px"
                                alt=""></a></figure>

                </div>
            </div>

        </div>
        <div class="sec-title">
            <h1>Our Future Goal</h1>

            <hr>
            <h5>After launching this website, we will provide reward system, referral code system and changing language
                for service man and user.</h5> -->


{% endblock %}